<%- include('layouts/frontend/header') %>
<div class="login-wrap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-10">
        <div class="login-in">
          <div class="login-logo">
            <div class="logo">
              <img src="assets/images/logo-clr.png" />
            </div>
          </div>
          <div class="login-form">
            <form
              method=""
              action="user-dashboard-sign-up-verification-code.html"
            >
              <h1>Sign Up</h1>
              <label class="login-txt">
                <img src="assets/images/form-icons/1.png" alt="" />
                <input
                  type="text"
                  class="login-txt"
                  style="padding: 0; margin-bottom: 0"
                  placeholder="Robin Jones"
                />
              </label>
              <label class="login-txt">
                <img src="assets/images/form-icons/2.png" alt="" />
                <input
                  type="text"
                  class="login-txt"
                  style="padding: 0; margin-bottom: 0"
                  placeholder="robin@employerdomain.com"
                />
                <i class="fal fa-check-circle my-green"></i>
              </label>
              <label class="login-txt">
                <img src="assets/images/form-icons/3.png" alt="" />
                <input
                  type="text"
                  class="login-txt"
                  style="padding: 0; margin-bottom: 0"
                  placeholder="Create Password"
                />
              </label>
              <label class="login-txt">
                <img src="assets/images/form-icons/3.png" alt="" />
                <input
                  type="text"
                  class="login-txt"
                  style="padding: 0; margin-bottom: 0"
                  placeholder="Confirm Password"
                />
              </label>
              <input type="submit" class="login-btn" value="Sign Up" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
