<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Reply</title>
</head>
<body>
    <p>Hello <%= name %>,</p>

    <!-- <p>Your message has been received and processed by our team. Here is the reply:</p> -->
    <p>Your email verification code is <%= verificationCode %>,</p>

    <blockquote>
        <%= replyMessage %>
    </blockquote>

    <p>Thank you for reaching out to us!</p>

    <p>Best regards,<br>
        Your Admin Team</p>
</body>
</html>
