<footer class="user-footer">
  <div class="container">
    <div class="row no-gutters">
      <div class="user-footer-in">
        <img src="images/logo-wht.png" alt="" />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s,
        </p>
      </div>
      <div class="user-footer-in">
        <h1>Quick Links</h1>
        <ul>
          <li><a href="user-dashboard.html">My Dashboard</a></li>
          <li>
            <a href="user-dashboard-faq.html">Frequently Asked Questions</a>
          </li>
          <li>
            <a href="user-terms-&-conditions.html">Terms and Conditions</a>
          </li>
          <li><a href="user-privacy-policy.html">Privacy Policy</a></li>
          <li>
            <a
              type="button"
              class="show-modal"
              data-toggle="modal"
              data-target="#myModal-2"
              >Contact us</a
            >
          </li>
          <li>
            <a
              type="button"
              class="show-modal"
              data-toggle="modal"
              data-target="#myModal"
              >Logout</a
            >
          </li>
        </ul>
      </div>
      <div class="user-footer-in">
        <h1>Address</h1>
        <p>1755 Overview Court Dubuque, Iowa 52003</p>
        <h1>Contact Us</h1>
        <p>5635810316</p>
      </div>
    </div>
  </div>
</footer>


<!-- JS -->
<script src="assets/js/jquery.js"type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js"type="text/javascript"></script>
<script src="assets/js/custom.js"type="text/javascript"></script>
<script src="assets/js/animation.js"type="text/javascript"></script>
<script src="assets/js/datepicker.js"type="text/javascript"></script>
	</body>
</html>